﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
</head>
<body>
    <h2 style="text-align:center">Admin Panel</h2>
    <div>
        @RenderBody()
    </div>
</body>
</html>
