﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

    <link href="~/Custom_stylesheet/StudentMasterLayout.css" rel="stylesheet" />
</head>
<body>
    <div class="slideshow-container">
        <div style="background-color:darkcyan;">
            <h1 style="color:white;text-align:center;">Make You Online.com</h1>
        </div>
        <div class="mySlides fade">

            <img src="~/Images/sliding/first.jpg" style="width:100%;height:400px;">
            <input class="imgBtncredential" type="button" value="Get Credential" onclick="GotoGetCredentialPage()" />
            <input class="imgBtn" type="button" value="Logout" onclick="GotoHomePage()" />

        </div>

        <div class="mySlides fade">

            <img src="~/Images/sliding/second.jpg" style="width:100%;height:400px;">
            <input class="imgBtncredential" type="button" value="Get Credential" onclick="GotoGetCredentialPage()" />
            <input class="imgBtn" type="button" value="Logout" onclick="GotoHomePage()" />

        </div>

        <div class="mySlides fade">

            <img src="~/Images/sliding/third.jpg" style="width:100%;height:400px;">
            <input class="imgBtncredential" type="button" value="Get Credential" onclick="GotoGetCredentialPage()" />
            <input class="imgBtn" type="button" value="Logout" onclick="GotoHomePage()" />

        </div>
        <div class="mySlides fade">

            <img src="~/Images/sliding/four.jpg" style="width:100%;height:400px;">
            <input class="imgBtncredential" type="button" value="Get Credential" onclick="GotoGetCredentialPage()" />
            <input class="imgBtn" type="button" value="Logout" onclick="GotoHomePage()" />

        </div>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 5000); // Change image every 5 seconds
        }
        function GotoHomePage() {
            window.location.href = "/Home/HomePage";
        }

        function GotoGetCredentialPage() {
            window.location.href = "/Home/GetSecurity";
        }
    </script>
    <div>
        @RenderBody()
    </div>
    <div class="Footers">
        <label>Copyright 2018</label>
    </div>
</body>
</html>
