﻿.AddnewStudentContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.AddNewStudentItems {
    position: relative;    
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: lightgray;
    color: blue;
    font-size: 16px;
    padding: 12px 12px;
    border: none;    
    border-radius: 5px;
    text-align: center;
    margin-top: 155px;
    height: 300px;
    margin-bottom:-130px;
}



.RegisterBtn {
    position: absolute;
    top: 88%;
    left: 32%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 2px green;
    cursor: pointer;
    border-radius: 5px;
    width:10%;
    text-align: center;
}

    .RegisterBtn:hover {
        background-color: darkgreen;
        color: white;
    }

.AddNewBackBtn {
    position: absolute;
    top: 88%;
    left: 59%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 2px gold;
    cursor: pointer;
    border-radius: 5px;
    width: 10%;
    text-align: center;
}

    .AddNewBackBtn:hover {
        background-color: gray;
    }
    .lblHeading{
        color:green;
        text-align:left;
        left:15%;
        margin-top:-10px;
    }
.leftSidelblSubject {
    position: absolute;
    top: 20%;
    left: 13%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);   
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;    
    width: 100px;
    text-align: center;
}
.ctrlSubject {
    position: absolute;
    top: 20%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 1px green;
    width: 20%;
    text-align: center;
}
.lblTime {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.ctrlTime {
    position: absolute;
    top: 20%;
    left: 64%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 1px green;
    width: 20%;
    text-align: center;
}
.lblName {
    position: absolute;
    top: 33%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.ctrlName {
    position: absolute;
    top: 33%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 1px green;
    width: 20%;
    text-align: center;
}
.lblFatherName {
    position: absolute;
    top: 33%;
    left: 47%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.ctrlFatherName {
    position: absolute;
    top: 33%;
    left: 64%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 1px green;
    width: 20%;
    text-align: center;
}
.lblMotherName {
    position: absolute;
    top: 46%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.ctrlMotherName {
    position: absolute;
    top: 46%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 1px green;
    width: 20%;
    text-align: center;
}
.lblVillage {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.ctrlVillage {
    position: absolute;
    top: 46%;
    left: 64%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 1px green;
    width: 20%;
    text-align: center;
}
.lblMobileNumber {
    position: absolute;
    top: 59%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.ctrlMobileNumber {
    position: absolute;
    top: 59%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 1px green;
    width: 20%;
    text-align: center;
}
.lblGender {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.ctrlGender {
    position: absolute;
    top: 59%;
    left: 64%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 1px green;
    width: 20%;
    text-align: center;
}
.lblState {
    position: absolute;
    top: 72%;
    left: 13%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.ctrlState {
    position: absolute;
    top: 72%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 1px green;
    width: 20%;
    text-align: center;
}
.lblImage {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.ctrlImage {
    position: absolute;
    top: 72%;
    left: 64%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 1px green;
    width: 20%;
    text-align: center;
}