﻿body {
}
.imageslide {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

    .imageslide .slider-content {
        position: absolute;
        width: 100%;
        height: 400px;
    }

.animate-enter, .animate-leave {
    -webkit-transition: 1000ms cubic-bezier(.165,.84,.44,1) all;
    -moz-transition: 1000ms cubic-bezier(.165,.84,.44,1) all;
    -ms-transition: 1000ms cubic-bezier(.165,.84,.44,1) all;
    -o-transition: 1000ms cubic-bezier(.165,.84,.44,1) all;
    transition: 1000ms cubic-bezier(.165,.84,.44,1) all;
}

.animate-enter {
    left: 100%;
}

.animate-leave.animate-leave-active {
    left:-100%;
}

.animate-enter.animate-enter-active, .animate-leave {
    left: 0;
}
.container {
    position: relative;
    width: 100%;
    max-width: 100%;
}

    .container img {
        width: 100%;
        height: 300px;
    }

    .container .btn {
        position: absolute;
        top: 12%;
        left: 95%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color:darkblue;
        color: white;
        font-size: 16px;
        padding: 12px 12px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
    .container .btnreg {
        position: absolute;
        top: 12%;
        left: 85%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: darkblue;
        color: white;
        font-size: 16px;
        padding: 12px 12px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

        .container .btn:hover {
            background-color: darkgreen;
        }

    .container .btnreg:hover {
        background-color: darkgreen;
    }