﻿.StudentMGMContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.EventPanel{
    background-color:cornflowerblue;
    color:black;
    width:100%;
    height:50px;
    
}
.StudentMgmItems {
    position: relative;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: darkgray;
    color: blue;
    font-size: 16px;
    padding: 12px 12px;
    border: none;
    width: 400px;
    border-radius: 5px;
    text-align: center;
    margin-top: 90px;
    height: 230px;
}
.delStudent {
    position: absolute;
    top: 15%;
    left: 22%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: red;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 2px red;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
    .delStudent:hover {
        background-color: red;
        color: white;
    }
.txtSearchByName {
    position: absolute;
    top: 15%;
    left: 38%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 2px black;
    border-radius: 0px;
    text-align: center;
}
.txtSearchByFatherName {
    position: absolute;
    top: 15%;
    left: 83%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 2px black;
    border-radius: 0px;
    text-align: center;
}
.txtSearchByMobile {
    position: absolute;
    top: 15%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 2px black;
   
    border-radius: 0px;
    text-align: center;
}
.AddNewStudentBtn {
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 2px green;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

    .AddNewStudentBtn:hover {
        background-color: darkgreen;
        color:white;
    }

.SignUpBackBtn {
    position: absolute;
    top: 88%;
    left: 43%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: lightgray;
    color: red;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

    .SignUpBackBtn:hover {
        background-color: gray;
    }
