﻿.AddnewStudentContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.AddNewStudentItems {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: lightgray;
    color: blue;
    font-size: 16px;
    padding: 12px 12px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 255px;
    height: 500px;
    margin-bottom: -230px;
}



.SaveBtn {
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 2px green;
    cursor: pointer;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

    .SaveBtn:hover {
        background-color: darkgreen;
        color: white;
    }
.UpdateBtn {
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 2px green;
    cursor: pointer;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

    .UpdateBtn:hover {
        background-color: darkgreen;
        color: white;
    }
.PrintBtn {
    position: absolute;
    top: 85%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 2px green;
    cursor: pointer;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

    .PrintBtn:hover {
        background-color: darkgreen;
        color: white;
    }
.CloseBtn {
    position: absolute;
    top: 85%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 2px green;
    cursor: pointer;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

    .CloseBtn:hover {
        background-color: darkgreen;
        color: white;
    }

.AddNewBackBtn {
    position: absolute;
    top: 88%;
    left: 59%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 2px gold;
    cursor: pointer;
    border-radius: 5px;
    width: 10%;
    text-align: center;
}

    .AddNewBackBtn:hover {
        background-color: gray;
    }

.StudentMarksHeading {
    color: blueviolet;
    text-align: center;
    left: 55%;
    margin-top: -10px;
}
.StudentMarksHeading2 {
    color: green;
    text-align: left;
    left: 15%;
    margin-top: 5px;
}
.StudentMarksHeading3 {
    position: absolute;
    color: green;
    text-align: left;
    left: 1%;
    top: 33%;
}
.SMHlblName {
    position: absolute;
    top: 17%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: indigo;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.SMHtxtName {
    position: absolute;
    top: 17%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
   text-align:left;
}



.SMHlblFatheName {
    position: absolute;
    top: 22%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: indigo;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.SMHtxtFatherName {
    position: absolute;
    top: 22%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: left;
}

.SMHlblMobileName {
    position: absolute;
    top: 27%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: indigo;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.SMHtxtMobileName {
    position: absolute;
    top: 27%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border:none;
    width: 20%;
    text-align: left;
}


.SMHlblSubject {
    position: absolute;
    top: 32%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: indigo;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.SMHtxtSubject {
    position: absolute;
    top: 32%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: left;
}

.lblGender {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.SMHImage {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 10%;
    left: 70%;
    border-radius:20px;
}
.ResultPannel {
    position: absolute;
    height: 57%;
    width: 35%;
    top: 43%;
    left: 65%;
    background-color: lightblue;
}
.ResultPannelHeading {
    position: absolute;
    height: 30px;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color: darkolivegreen;
}
.resultSummary {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 20%;
    left: 0%;
    color: white
}
.marksheetHeading {
    position: absolute;
    height: 30px;
    width: 100%;
    top: 43%;
    left: 0%;
    background-color: darkblue;
}

.RPTotalMarks {
    position: absolute;
    height: 50px;
    width: 50%;
    top: 15%;
    left: 20%;
    color: darkslategray;
}
.RPTotaltxtMarks {
    position: absolute;
    height: 50px;
    width: 50%;
    top: 15%;
    left: 40%;
    color: darkblue;
}
.RPPassMarks {
    position: absolute;
    height: 50px;
    width: 50%;
    top: 25%;
    left: 20%;
    color: darkslategray;
}

.RPPasstxtMarks {
    position: absolute;
    height: 50px;
    width: 50%;
    top: 25%;
    left: 40%;
    color: darkblue;
}
.RPOBTMarks {
    position: absolute;
    height: 50px;
    width: 50%;
    top: 35%;
    left: 15%;
    color: darkslategray;
}

.RPOBTtxtMarks {
    position: absolute;
    height: 50px;
    width: 50%;
    top: 35%;
    left: 40%;
    color: darkgreen;
}
.RPDivMarks {
    position: absolute;
    height: 50px;
    width: 50%;
    top: 45%;
    left: 25%;
    color: darkslategray;
}

.RPDivtxtMarks {
    position: absolute;
    height: 50px;
    width: 50%;
    top: 45%;
    left: 46%;
    color: darkgreen;
}
.marksheetChapterName {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 15%;
    left: -43%;
    color:white
}
.marksheetChapterHindi {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 50%;
    left: -43%;
    color: black
}
.marksheetChapterSanskrit {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 57%;
    left: -43%;
    color: black
}
.marksheetChapterMath {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 64%;
    left: -43%;
    color: black
}
.marksheetChapterScience {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 71%;
    left: -43%;
    color: black
}
.marksheetChapterSST {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 78%;
    left: -43%;
    color: black
}
.marksheetChapterEnglish {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 85%;
    left: -43%;
    color: black
}
.marksheetFullMarks {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 15%;
    left: -25%;
    color: white
}
.marksheetFullMarksHindi {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 50%;
    left: -25%;
    color: black;
}
.marksheetFullMarksSanskrit {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 57%;
    left: -25%;
    color: black;
}
.marksheetFullMarksMath {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 64%;
    left: -25%;
    color: black;
}
.marksheetFullMarksScience {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 71%;
    left: -25%;
    color: black;
}
.marksheetFullMarksSST {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 78%;
    left: -25%;
    color: black;
}
.marksheetFullMarksEnglish {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 85%;
    left: -25%;
    color: black;
}
.marksheetPassMarks {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 15%;
    left: -10%;
    color: white
}
.marksheetPassMarksHindi {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 50%;
    left: -10%;
    color: darkgreen;
}
.marksheetPassMarksSanskrit {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 57%;
    left: -10%;
    color: darkgreen;
}
.marksheetPassMarksMath {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 64%;
    left: -10%;
    color: darkgreen;
}
.marksheetPassMarksScience {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 71%;
    left: -10%;
    color: darkgreen;
}
.marksheetPassMarksSST {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 78%;
    left: -10%;
    color: darkgreen;
}
.marksheetPassMarksEnglish {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 85%;
    left: -10%;
    color: darkgreen;
}
.marksheetObtainedMarks {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 15%;
    left: 5%;
    color: white
}
.marksheetObtainedMarksHindi {
    position: absolute;
    height: 25px;
    width: 5%;
    top: 50%;
    left: 53%;
    color: black;
}
.marksheetObtainedMarksSanskrit {
    position: absolute;
    height: 25px;
    width: 5%;
    top: 57%;
    left: 53%;
    color: black;
}
.marksheetObtainedMarksMath {
    position: absolute;
    height: 25px;
    width: 5%;
    top: 64%;
    left: 53%;
    color: black;
}
.marksheetObtainedMarksScience{
    position: absolute;
    height: 25px;
    width: 5%;
    top: 71%;
    left: 53%;
    color: black;
}
.marksheetObtainedMarksSST {
    position: absolute;
    height: 25px;
    width: 5%;
    top: 78%;
    left: 53%;
    color: black;
}
.marksheetObtainedMarksEnglish {
    position: absolute;
    height: 25px;
    width: 5%;
    top: 85%;
    left: 53%;
    color: black;
}
.ctrlGender {
    position: absolute;
    top: 59%;
    left: 64%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 1px green;
    width: 20%;
    text-align: center;
}

.lblState {
    position: absolute;
    top: 72%;
    left: 13%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.ctrlState {
    position: absolute;
    top: 72%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 1px green;
    width: 20%;
    text-align: center;
}

.lblImage {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    width: 20%;
    text-align: center;
}

.ctrlImage {
    position: absolute;
    top: 72%;
    left: 64%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: solid 1px green;
    width: 20%;
    text-align: center;
}
