﻿.UserSignUpContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
 
}
.SignUpItems {
    position: relative;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:darkgray;
    color: blue;
    font-size: 16px;
    padding: 12px 12px;
    border: none;
    width: 400px;
    border-radius: 5px;
    text-align: center;
    margin-top:90px;
    height:230px;
}
.SignUpBtn {
    position: absolute;
    top: 88%;
    left: 67%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

    .SignUpBtn:hover {
        background-color: darkgreen;
    }
.SignUpBackBtn {
    position: absolute;
    top: 88%;
    left: 43%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: lightgray;
    color: red;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

    .SignUpBackBtn:hover {
        background-color: gray;
    }