﻿.LoginContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.loginBtn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:white;
    color: green;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

    .loginBtn:hover {
        background-color: darkgreen;
    }
.LoginItems {
    position: relative;
    top: 65px;
    left: 21.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: olive;
    color: white;
    font-size: 16px;
    padding: 12px 12px;
    border: none;
    width:430px;
    border-radius: 5px;
    text-align: center;
}