﻿
@{
    ViewBag.Title = "AddNewStudent";
    Layout = "~/Views/Shared/StudentMgmSystemLayout.cshtml";
}
<link href="~/Custom_stylesheet/AddNewStudent.css" rel="stylesheet" />
<div ng-app="smsapp" ng-controller="smsctrl" class="AddnewStudentContainer">  
    <div class="AddNewStudentItems">
        <h2 class="lblHeading"><u>{{lblNewRegistrationHeading}}</u></h2>
        <div>
            <label class="leftSidelblSubject">{{lblSubject}}</label>
            <select class="ctrlSubject" ng-model="newreg.SubjectID">
                <option ng-repeat="x in subjects" value="{{x.SubjectID}}">{{x.SubjectName}}</option>
            </select>
            <label class="lblTime">{{lblTime}}</label>
            <select ng-model="newreg.BatchID" class="ctrlTime">
                <option ng-repeat="x in times" value="{{x.BatchID}}">{{x.BatchName}}</option>
            </select>
            <label class="lblName">{{lblStudentName}}</label>
            <input class="ctrlName" type="text" ng-model="newreg.Name" />
            <label class="lblFatherName">{{lblFatherName}}</label>
            <input class="ctrlFatherName" type="text" ng-model="newreg.FatherName" />
            <label class="lblMotherName">{{lblMotherName}}</label>
            <input class="ctrlMotherName" type="text" ng-model="newreg.MotherName" />
            <label class="lblVillage">{{lblVillage}}</label>
            <input class="ctrlVillage" type="text" ng-model="newreg.Village" />
            <label class="lblMobileNumber">{{lblMobileNumber}}</label>
            <input class="ctrlMobileNumber" type="text" ng-model="newreg.MobileNumber" />
            <label class="lblGender">{{lblGender}}</label>
            <select ng-model="newreg.GenderID" class="ctrlGender">
                <option ng-repeat="x in gender" value="{{x.GenderID}}">{{x.GenderName}}</option>
            </select>
            <label class="lblState">{{lblState}}</label>
            <select ng-model="newreg.StateID" class="ctrlState">
                <option ng-repeat="x in states" value="{{x.StateID}}">{{x.StateName}}</option>
            </select>
            <label class="lblImage">{{lblImage}}</label>
            <input type="file" name="file" accept="image/*" class="ctrlImage"
                   onchange="angular.element(this).scope().selectFileForUpload(this.files)" required />
            <span>{{FileInvalidMessage}}</span>
            <input type="button" class="RegisterBtn" ng-click="SaveFile(newreg)" value="{{btnSave}}" />
            <input type="button" class="AddNewBackBtn" value="{{btnBack}}" />
        </div>      
       
     
    </div>
</div>
<script>
    var smsapp = angular.module("smsapp", []);
    smsapp.controller("smsctrl", function ($scope, $http, FileUploadService) {
        $scope.lblNewRegistrationHeading = "New Student Registration";
        $scope.lblStudentName = "Student Name ";
        $scope.lblFatherName = "Father Name";
        $scope.lblMotherName = "Mother Name";
        $scope.lblVillage = "Village";
        $scope.lblMobileNumber = "Mobile Number";
        $scope.lblGender = "Gender";
        $scope.lblState = "State";
        $scope.lblSubject = "Subject";
        $scope.lblTime = "Time";
        $scope.lblImage = "Photo";
        $scope.btnBack = "Back";
        $scope.btnSave = "Register";
        $scope.subjects = [];
        $scope.times = [];
        $scope.gender = [];
        $scope.states = [];
        $http.get("/Home/StudentSubjectList").then(function (responce) {
            for (var i = 0; i < responce.data.length; i++) {
                $scope.subjects.push({
                    SubjectName: responce.data[i].Text,
                    SubjectID: responce.data[i].Value
                });
            }
        });
        $http.get("/Home/StudentTimeList").then(function (responce) {
            for (var i = 0; i < responce.data.length; i++) {
                $scope.times.push({
                    BatchName: responce.data[i].Text,
                    BatchID: responce.data[i].Value
                });
            }
        });
        $http.get("/Home/StudentGenderList").then(function (responce) {
            for (var i = 0; i < responce.data.length; i++) {
                $scope.gender.push({
                    GenderName: responce.data[i].Text,
                    GenderID: responce.data[i].Value
                });
            }
        });
        $http.get("/Home/StudentStateList").then(function (responce) {
            for (var i = 0; i < responce.data.length; i++) {
                $scope.states.push({
                    StateName: responce.data[i].Text,
                    StateID: responce.data[i].Value
                });
            }
        });      
        $scope.newStudentRegister = function (_objData, _uploadme) {           
            var fd = new FormData();
            var imgBlob = dataURItoBlob($scope.uploadme);
            fd.append('images', imgBlob);
            fd.append('Name', _objData.Name);
            fd.append('FatherName', _objData.FatherName);
            fd.append('MotherName', _objData.MotherName);
            fd.append('MobileNumber', _objData.MobileNumber);
            fd.append('Village', _objData.Village);
            fd.append('SubjectID', _objData.SubjectID);
            fd.append('BatchID', _objData.BatchID);
            fd.append('StateID', _objData.StateID);
            fd.append('Village', _objData.Village);
            fd.append('GenderID', _objData.GenderID);
           
            $http.post('/Home/SaveStudentData', fd, {
                transformRequest: angular.identity,
                headers: {
                    'Content-Type': undefined
                }
            }).success(function (response) {
                console.log('success', response);
            }).error(function (response) {
                    console.log('error', response);
                });
            //$http({
            //    method: "POST",
            //    url: "/Home/SaveStudentData",
            //    data: fd
            //}).then(function (responce) {
            //    if (responce.data == 1) {
            //        window.location.href ="/Home/StudentMgmSystem"
            //    }
            //    });
        };
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        $scope.FileInvalidMessage = "";
        $scope.SelectedFileForUpload = null;
        $scope.IsFileValid = false;
        $scope.CheckFileValid = function (file) {
            var isValid = false;

            if ($scope.SelectedFileForUpload != null) {
                if ((file.type == 'image/png' || file.type == 'image/jpeg' || file.type == 'image/gif') && file.size <= (512 * 1024)) {
                    $scope.FileInvalidMessage = "";
                    isValid = true;
                }
                else {
                    $scope.FileInvalidMessage = "Selected File Invalid.";
                    isValid = false;
                }
            }
            else {
                $scope.FileInvalidMessage = "Image Required";
            }           
            $scope.IsFileValid = isValid;

        };
        // Select File Event
        $scope.selectFileForUpload = function (file) {
            $scope.SelectedFileForUpload = file[0];
        }
        // Save File
        $scope.SaveFile = function (_objData) {           
            $scope.Message = "";           
            $scope.CheckFileValid($scope.SelectedFileForUpload);
            if ($scope.IsFileValid) {
                FileUploadService.UploadFile($scope.SelectedFileForUpload, _objData).then(function (d) {
                    alert(d);
                  
                }, function (e) {
                    alert(e);
                });
            }
            else {
                $scope.Message = "All Fields Required.";
            }
        };
        ///////////////////////////////////////////////////Previous////////////////////////////////////////////////////////////////
        ////the image
        //$scope.uploadme;

        //$scope.uploadImage = function () {
        //    var fd = new FormData();
        //    var imgBlob = dataURItoBlob($scope.uploadme);
        //    fd.append('file', imgBlob);
        //    $http.post('imageURL',fd, {
        //            transformRequest: angular.identity,
        //            headers: {
        //                'Content-Type': undefined
        //            }
        //        }).success(function (response) {
        //            console.log('success', response);
        //        })
        //        .error(function (response) {
        //            console.log('error', response);
        //        });
        //}


        ////you need this function to convert the dataURI
        //function dataURItoBlob(dataURI) {
        //    var binary = atob(dataURI.split(',')[1]);
        //    var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
        //    var array = [];
        //    for (var i = 0; i < binary.length; i++) {
        //        array.push(binary.charCodeAt(i));
        //    }
        //    return new Blob([new Uint8Array(array)], {
        //        type: mimeString
        //    });
        //}
    });
    smsapp.factory('FileUploadService', function ($http, $q) {
        var fac = {};
        fac.UploadFile = function (file, model) {
            var formdata = new FormData();
            formdata.append("image", file);           
            formdata.append("Name", model.Name);
            formdata.append("FatherName", model.FatherName);
            formdata.append("MotherName", model.MotherName);
            formdata.append("MobileNumber", model.MobileNumber);
            formdata.append("Village", model.Village);
            formdata.append("SubjectID", model.SubjectID);
            formdata.append("BatchID", model.BatchID);
            formdata.append("StateID", model.StateID);
            formdata.append("GenderID", model.GenderID);          

            var defer = $q.defer();

            $http.post("/Home/SaveStudentData", formdata, {
                withCredential: true, headers: { 'Content-Type': undefined },
                transformRequest: angular.identity
            }).then(function (response) {
                if (response.data == 1) {
                    window.location = "/Home/StudentMgmSystem";
                }
                else {
                    alert("Record Not Saved, Try Again..");
                }
            });
            return defer.promise;
        }
        return fac;

    });
    //smsapp.directive("fileread", [
    //    function () {
    //        return {
    //            scope: {
    //                fileread: "="
    //            },
    //            link: function (scope, element, attributes) {
    //                element.bind("change", function (changeEvent) {
    //                    var reader = new FileReader();
    //                    reader.onload = function (loadEvent) {
    //                        scope.$apply(function () {
    //                            scope.fileread = loadEvent.target.result;
    //                        });
    //                    }
    //                    reader.readAsDataURL(changeEvent.target.files[0]);
    //                });
    //            }
    //        }
    //    }
    //]);
</script>

