﻿
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/AdminMasterLayout.cshtml";
}
<div ng-app="adminindexapp" ng-controller="adminindexctrl">
    Hello, @ViewBag.userName<br />
    <label>{{lblwebnameheading}}</label>
    <input type="text" ng-model="admin.webHeading" /><br />
    <input type="button" ng-click="SaveData(admin)" value="{{adminbtnSave}}" />
    <input type="button" ng-click="PerviewWeb(admin)" value="{{adminbtnPerview}}" />

</div>
<script>
    var adminindexapp = angular.module("adminindexapp", []);
    adminindexapp.controller("adminindexctrl", function ($scope, $http, $window) {
        $scope.lblwebnameheading = "Website Heading";
        $scope.adminbtnSave = "Save";
        $scope.adminbtnPerview = "Perview";
        $scope.SaveData = function (objdata) {
            alert(objdata.webHeading);
        };
        $scope.PerviewWeb = function (objdata) {
            $http({
                method: "POSt",
                url: "/Home/CreateWebSite",
                data: objdata
            }).then(function (responce) {               
                if (responce.data == 1) {
                  //  $window.open('http://localhost:50358/', 'HomePage');
                }
                });
           
        };
    });
</script>
