﻿
@{
    ViewBag.Title = "GetSecurity";
    Layout = "~/Views/Shared/UserMasterLayout.cshtml";
}
<link href="~/Custom_stylesheet/GetSecuitity.css" rel="stylesheet" />
<div class="GetSecuirityContainer">
    @using (Html.BeginForm("GenBarcode", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3>Generate Bar Code</h3>
                <input type="text" name="barcode" Class="form-control col-4" ID="textCode" />
                <input type="submit" Class="btn btn-primary" ID="btnGenerate" value="Generate Bar Code and QR Code" />
                <hr />
                @if (ViewBag.BarcodeImage != null)
                {
                    <img src="@ViewBag.BarcodeImage" alt="" />
                }
                @if (ViewBag.QRCodeImage != null)
                {
                    <img src="@ViewBag.QRCodeImage" alt="" style="height:150px;width:150px" />
                }
            </div>
        </div>
    }
</div>
