﻿
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/UserMasterLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
<link href="~/Custom_stylesheet/HomePage.css" rel="stylesheet" />
<div ng-app="homePageapp" ng-controller="homePagectrl">
    <div class="HomePageContainer">
        <h1 style="text-align:center">I am Home Page.</h1>
    </div>
</div>
<script>
    var homePageapp = angular.module("homePageapp", []);
    homePageapp.controller("homePagectrl", function ($scope, $http) {

    });
</script>
