﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<div ng-app="testapp" ng-controller="testctrl" class="container">  
    <div style="margin-left:450px;">
        <div>
              <label style="color:green">{{lblToken}}</label>
        </div>
        <div style="background-color:white;">
            <label style="color:red;">{{lblUserNameError}}</label><br />
            <label style="color:red;">{{lblPasswordError}}</label><br />
            <label style="color:red;">{{lblResponceError}}</label><br />
        </div>
        <table class="table" style=" margin-top:50px;">
            <tr>
                <td>
                    <img src="~/Images/AdminPanel/imglogin.png" />
                </td>
                <td>
                    <table>
                        <tr>
                            <td></td>
                            <td>
                                <label style="color:blue;font-size:25px;margin-left:35px;">{{lblHeading}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{lblUserName}}</label>
                            </td>
                            <td>
                                <input type="text" ng-model="login.userName" />
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>
                                <label>{{lblPassword}}</label>
                            </td>
                            <td>
                                <input type="text" ng-model="login.Password" />
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="button" class="btn-primary" value="{{btngetdata}}" ng-click="getData(login)" style="margin-left:35px;"/><br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
   
   
</div>
<script>
    var testapp = angular.module("testapp", []);
    testapp.controller("testctrl", function ($scope, $http) {
        $scope.btngetdata = "Submit";
        $scope.lblUserName = "User Name";
        $scope.lblPassword = "Password";
        $scope.lblHeading = "Login";
        $scope.getData = function (objData) {
            if (objData == undefined) {
                $scope.lblUserNameError = "Enter User Name.";
                $scope.lblPasswordError = "Enter  Password.";
                $scope.lblToken = "";
            }
            else {
                $scope.lblUserNameError = "";
                $scope.lblPasswordError = "";
           
                if (objData.userName == "" || objData.userName == undefined) {
                    $scope.lblUserNameError = "Enter User Name.";
                    $scope.lblToken = "";
                }
                else {
                    $scope.lblUserNameError = "";
                }
            if (objData.Password == "" || objData.Password == undefined) {
                $scope.lblPasswordError = "Enter  Password.";
                $scope.lblToken = "";
            }
            else {
                $scope.lblPasswordError = "";
                $http({
                    method: 'POSt',
                    url: "/Home/AdminGenerateToken",
                    data: objData
                }).then(function (responce) {                   
                    if (responce.data == "1")
                    {
                        $scope.lblToken = "";
                        $scope.lblResponceError = "Enter valid User Name or Password";
                    }
                    else {
                        $scope.lblResponceError = "";
                      //  $scope.lblToken = responce.data;
                       window.location.href = "/Home/AdminIndex";
                    }

                });
            }
           
            }
        };

    });
</script>
