﻿
@{
    ViewBag.Title = "StudentMgmSystem";
    Layout = "~/Views/Shared/StudentMgmSystemLayout.cshtml";
}
<link href="~/Custom_stylesheet/StudentMgmSystem.css" rel="stylesheet" />
<div ng-app="smsapp" ng-controller="smsctrl" class="StudentMGMContainer">
    <div class="SignUpItems">
        <div class="EventPanel">
            <input type="button" class="AddNewStudentBtn" value="{{btnAddNew}}" ng-click="AddNewStudent()" />
            <input type="button" class="delStudent" value="Delete" />
            <input type="text" class="txtSearchByName" placeholder="Search Student Name" ng-model="search.Name" ng-change="SearchByName(search)" />
            <input type="text" class="txtSearchByMobile" placeholder="Search Mobile Number" ng-model="search.MobileNumber" ng-change="SearchByMobileNumber(search)"/>
            <input type="text" class="txtSearchByFatherName" placeholder="Search Father Name" ng-model="search.UserID" />
        </div>

        <table style="width:100%;">
            <tr style="background-color:darkblue;color:white;">
                <th>
                    <input type="checkbox" />
                </th>
                <th>
                    <label>{{lblStudentName}}</label>
                </th>
                <th>
                    <label>{{lblFatherName}}</label>
                </th>
                <th>
                    <label>{{lblMotherName}}</label>
                </th>
                <th>
                    <label>{{lblMobileNumber}}</label>
                </th>
                <th>
                    <label>{{lblSubject}}</label>
                </th>
                <th>
                    <label>{{lblMarks}}</label>
                </th>

                <th>
                    <label>{{lblViewdetails}}</label>
                </th>
            </tr>
            <tr ng-repeat="x in studentList">
                <td>
                    <input type="checkbox" ng-checked="selectAll" />
                </td>
                <td>
                    <label>{{x.Name}}</label>
                </td>
                <td>
                    <label>{{x.FatherName}}</label>
                </td>
                <td>
                    <label>{{x.MotherName}}</label>
                </td>
                <td>
                    <label>{{x.MobileNumber}}</label>
                </td>
                <td>
                    <label>{{x.SubjectName}}</label>
                </td>

                <td>
                    <input type="button" value="Marks Details" ng-click="AddMarks(x)" />
                </td>
                <td>
                    <input type="button" value="Personal Details" ng-click="ViewDetails(x)" />
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    var smsapp = angular.module("smsapp", []);
    smsapp.controller("smsctrl", function ($scope, $http) {
        $scope.btnAddNew = "Add New Student";
        $scope.lblStudentName = "Student Name";
        $scope.lblFatherName = "Father Name";
        $scope.lblMotherName = "Mother Name";
        $scope.lblMobileNumber = "Mobile Number";
        $scope.lblSubject = "Subject";
        $scope.lblMarks = "Marks Details";
        $scope.lblViewdetails = "View";
        $scope.studentList = [];
        $scope.search = { UserID:@ViewBag.UserID};
        $scope.SearchByName = function (objData) {     
            if (objData.Name == "" || objData.Name == undefined) {
                $http.post("/Home/GetStudentList").then(function (responce) {
                    $scope.studentList = [];
                    for (var i = 0; i < responce.data.length; i++) {
                        var subjectName = "";
                        if (responce.data[i].SubjectID == 1) {
                            subjectName = "Computer Basic";
                        }
                        else if (responce.data[i].SubjectID == 2) {
                            subjectName = "Web Designing";
                        }
                        else if (responce.data[i].SubjectID == 3) {
                            subjectName = "English Speaking";
                        }
                        else if (responce.data[i].SubjectID == 4) {
                            subjectName = "ASP.NET";
                        }
                        else if (responce.data[i].SubjectID == 5) {
                            subjectName = "Xamarin";
                        }
                        else {
                            subjectName = "Not Available";
                        }
                        $scope.studentList.push({
                            StudentID: responce.data[i].StudentID,
                            UserID: responce.data[i].UserID,
                            Name: responce.data[i].Name,
                            FatherName: responce.data[i].FatherName,
                            MotherName: responce.data[i].MotherName,
                            Village: responce.data[i].Village,
                            StateID: responce.data[i].StateID,
                            MobileNumber: responce.data[i].MobileNumber,
                            GenderID: responce.data[i].GenderID,
                            SubjectName: subjectName,
                            BatchID: responce.data[i].BatchID,
                            Image: responce.data[i].Image
                        });
                    }
                });
            }
            else {
                $http({
                    method: "POST",
                    url: "/Home/SearchByName",
                    data: objData
                }).then(function (responce) {
                    $scope.studentList = [];
                    for (var i = 0; i < responce.data.length; i++) {
                        var subjectName = "";
                        if (responce.data[i].SubjectID == 1) {
                            subjectName = "Computer Basic";
                        }
                        else if (responce.data[i].SubjectID == 2) {
                            subjectName = "Web Designing";
                        }
                        else if (responce.data[i].SubjectID == 3) {
                            subjectName = "English Speaking";
                        }
                        else if (responce.data[i].SubjectID == 4) {
                            subjectName = "ASP.NET";
                        }
                        else if (responce.data[i].SubjectID == 5) {
                            subjectName = "Xamarin";
                        }
                        else {
                            subjectName = "Not Available";
                        }
                        $scope.studentList.push({
                            StudentID: responce.data[i].StudentID,
                            UserID: responce.data[i].UserID,
                            Name: responce.data[i].Name,
                            FatherName: responce.data[i].FatherName,
                            MotherName: responce.data[i].MotherName,
                            Village: responce.data[i].Village,
                            StateID: responce.data[i].StateID,
                            MobileNumber: responce.data[i].MobileNumber,
                            GenderID: responce.data[i].GenderID,
                            SubjectName: subjectName,
                            BatchID: responce.data[i].BatchID,
                            Image: responce.data[i].Image
                        });
                    }
                });
            }
           
        };
        $http.post("/Home/GetStudentList").then(function (responce) {
            for (var i = 0; i < responce.data.length; i++) {
                var subjectName = "";
                if (responce.data[i].SubjectID == 1) {
                    subjectName = "Computer Basic";
                }
                else if (responce.data[i].SubjectID == 2) {
                    subjectName = "Web Designing";
                }
                else if (responce.data[i].SubjectID == 3) {
                    subjectName = "English Speaking";
                }
                else if (responce.data[i].SubjectID == 4) {
                    subjectName = "ASP.NET";
                }
                else if (responce.data[i].SubjectID == 5) {
                    subjectName = "Xamarin";
                }
                else {
                    subjectName = "Not Available";
                }
                $scope.studentList.push({
                    StudentID: responce.data[i].StudentID,
                    UserID: responce.data[i].UserID,
                    Name: responce.data[i].Name,
                    FatherName: responce.data[i].FatherName,
                    MotherName: responce.data[i].MotherName,
                    Village: responce.data[i].Village,
                    StateID: responce.data[i].StateID,
                    MobileNumber: responce.data[i].MobileNumber,
                    GenderID: responce.data[i].GenderID,
                    SubjectName: subjectName,
                    BatchID: responce.data[i].BatchID,
                    Image: responce.data[i].Image
                });
            }
        });.c
        $scope.AddNewStudent = function () {
            window.location.href = "/Home/AddNewStudent";
        };
        $scope.AddMarks = function (objData) {
            window.location.href = "/Home/StudentMarks?stdid=" + objData.StudentID;
        };
        $scope.ViewDetails = function (objdata) {
            alert(objdata.UserID);
        };
       
        $scope.SearchByMobileNumber = function (objData) {
            if (objData.MobileNumber == "" || objData.MobileNumber == undefined) {
                $http.post("/Home/GetStudentList").then(function (responce) {
                    $scope.studentList = [];
                    for (var i = 0; i < responce.data.length; i++) {
                        var subjectName = "";
                        if (responce.data[i].SubjectID == 1) {
                            subjectName = "Computer Basic";
                        }
                        else if (responce.data[i].SubjectID == 2) {
                            subjectName = "Web Designing";
                        }
                        else if (responce.data[i].SubjectID == 3) {
                            subjectName = "English Speaking";
                        }
                        else if (responce.data[i].SubjectID == 4) {
                            subjectName = "ASP.NET";
                        }
                        else if (responce.data[i].SubjectID == 5) {
                            subjectName = "Xamarin";
                        }
                        else {
                            subjectName = "Not Available";
                        }
                        $scope.studentList.push({
                            StudentID: responce.data[i].StudentID,
                            UserID: responce.data[i].UserID,
                            Name: responce.data[i].Name,
                            FatherName: responce.data[i].FatherName,
                            MotherName: responce.data[i].MotherName,
                            Village: responce.data[i].Village,
                            StateID: responce.data[i].StateID,
                            MobileNumber: responce.data[i].MobileNumber,
                            GenderID: responce.data[i].GenderID,
                            SubjectName: subjectName,
                            BatchID: responce.data[i].BatchID,
                            Image: responce.data[i].Image
                        });
                    }
                });
            }
            else {
                $http({
                    method: "POST",
                    url: "/Home/SearchByMobileNumber",
                    data: objData
                }).then(function (responce) {
                    $scope.studentList = [];
                    for (var i = 0; i < responce.data.length; i++) {
                        var subjectName = "";
                        if (responce.data[i].SubjectID == 1) {
                            subjectName = "Computer Basic";
                        }
                        else if (responce.data[i].SubjectID == 2) {
                            subjectName = "Web Designing";
                        }
                        else if (responce.data[i].SubjectID == 3) {
                            subjectName = "English Speaking";
                        }
                        else if (responce.data[i].SubjectID == 4) {
                            subjectName = "ASP.NET";
                        }
                        else if (responce.data[i].SubjectID == 5) {
                            subjectName = "Xamarin";
                        }
                        else {
                            subjectName = "Not Available";
                        }
                        $scope.studentList.push({
                            StudentID: responce.data[i].StudentID,
                            UserID: responce.data[i].UserID,
                            Name: responce.data[i].Name,
                            FatherName: responce.data[i].FatherName,
                            MotherName: responce.data[i].MotherName,
                            Village: responce.data[i].Village,
                            StateID: responce.data[i].StateID,
                            MobileNumber: responce.data[i].MobileNumber,
                            GenderID: responce.data[i].GenderID,
                            SubjectName: subjectName,
                            BatchID: responce.data[i].BatchID,
                            Image: responce.data[i].Image
                        });
                    }
                });
            }

        };
    });
</script>