﻿
@{
    ViewBag.Title = "StudentMarks";
    Layout = "~/Views/Shared/StudentMgmSystemLayout.cshtml";
}
<link href="~/Custom_stylesheet/StudentMarks.css" rel="stylesheet" />
<div ng-app="marksapp" ng-controller="marksctrl" class="AddnewStudentContainer">
    <div class="AddNewStudentItems">
        <h2 class="StudentMarksHeading"><u>{{lblheading}}</u></h2>
        <h3 class="StudentMarksHeading2"><u>{{lblpersonel}}</u></h3>
        <label class="SMHlblName">{{lblStudentName}}</label>
        <label class="SMHtxtName">{{txtStudentName}}</label>
        <label class="SMHlblFatheName">{{lblFatherName}}</label>
        <label class="SMHtxtFatherName">{{txtFatherName}}</label>
        <label class="SMHlblMobileName">{{lblMobileName}}</label>
        <label class="SMHtxtMobileName">{{txtMobileName}}</label>
        <label class="SMHlblSubject">{{lblSubjectName}}</label>
        <label class="SMHtxtSubject">{{txtSubjectName}}</label>
        <img src="~/Images/sliding/first.jpg" class="SMHImage" />
        <h3 class="StudentMarksHeading3"><u>{{lblMarksDetails}}</u></h3>
        <div class="marksheetHeading">
            <label class="marksheetChapterName">Chapter Name</label>
            <label class="marksheetFullMarks">Full Marks</label>
            <label class="marksheetPassMarks">Pass Marks</label>
            <label class="marksheetObtainedMarks">Obtained Marks</label>
        </div>
        <div>
            <label class="marksheetChapterHindi">Hindi</label>
            <label class="marksheetFullMarksHindi">100</label>
            <label class="marksheetPassMarksHindi">33</label>
            <input type="number" class="marksheetObtainedMarksHindi" />
        </div>
        <div>
            <label class="marksheetChapterSanskrit">Sanskrit</label>
            <label class="marksheetFullMarksSanskrit">100</label>
            <label class="marksheetPassMarksSanskrit">33</label>
            <input type="number" class="marksheetObtainedMarksSanskrit" />
        </div>
        <div>
            <label class="marksheetChapterMath">Math</label>
            <label class="marksheetFullMarksMath">100</label>
            <label class="marksheetPassMarksMath">33</label>
            <input type="number" class="marksheetObtainedMarksMath" />
        </div>
        <div>
            <label class="marksheetChapterScience">Science</label>
            <label class="marksheetFullMarksScience">100</label>
            <label class="marksheetPassMarksScience">33</label>
            <input type="number" class="marksheetObtainedMarksScience" />
        </div>
        <div>
            <label class="marksheetChapterSST">SST</label>
            <label class="marksheetFullMarksSST">100</label>
            <label class="marksheetPassMarksSST">33</label>
            <input type="number" class="marksheetObtainedMarksSST" />
        </div>
        <div>
            <label class="marksheetChapterEnglish">English</label>
            <label class="marksheetFullMarksEnglish">100</label>
            <label class="marksheetPassMarksEnglish">33</label>
            <input type="number" class="marksheetObtainedMarksEnglish" />
        </div>
        <div class="ResultPannel">
            <div class="ResultPannelHeading">
                <label class="resultSummary">Result Summary</label>
            </div>
            <div>
                <label class="RPTotalMarks">Full Marks :</label>
                <label class="RPTotaltxtMarks">600</label>
                <label class="RPPassMarks">Pass Marks :</label>
                <label class="RPPasstxtMarks">168</label>
                <label class="RPOBTMarks">Obtained Marks :</label>
                <label class="RPOBTtxtMarks">400</label>
                <label class="RPDivMarks">Division :</label>
                <label class="RPDivtxtMarks">First Div</label>
            </div>
            <div>
                <input type="button" class="SaveBtn" value="Save" />
                <input type="button" class="UpdateBtn" value="Update" />
                <input type="button" class="PrintBtn" value="Print" />
                <input type="button" class="CloseBtn" value="Close" />
            </div>
        </div>
    </div>
</div>
<script>
    var marksapp = angular.module("marksapp", []);
    marksapp.controller("marksctrl", function ($scope, $http) {
        $scope.lblheading = "Mark Sheet";
        $scope.lblpersonel = "Personal Information";
        $scope.lblStudentName = "Student Name :";
        $scope.lblFatherName = "Father Name :";
        $scope.lblMobileName = "Mobile Number :";
        $scope.lblSubjectName = "Subject Name :";
        $scope.lblMarksDetails="Marks Details"
        var objData = new FormData();
        objData.append('StudentID',@ViewBag.StudentID);       
        $http.post("/Home/GetStudentInfo", objData, {
            withCredential: true, headers: { 'Content-Type': undefined },
            transformRequest: angular.identity
        }).then(function (response) {
            $scope.txtStudentName = response.data[0].Name;
            $scope.txtFatherName = response.data[0].FatherName;
            $scope.txtMobileName = response.data[0].MobileNumber;
            $scope.txtSubjectName = "Web Designing";
        });
    });
</script>