﻿
@{
    ViewBag.Title = "TestLogin";
    Layout = "~/Views/Shared/UserMasterLayout.cshtml";
}

<script id="facebook-jssdk" async="" src="//connect.facebook.net/en_US/sdk.js"></script>
<div ng-app="App" ng-controller="LoginController">
    <button class="icon icon-facebook btn btn-primary btn-block" style="height:35px;background-color:#365899;border:#365899;" type="button" 
            ng-click="login()"> Sign In With Facebook</button>

</div>
<script>
    var App = angular.module('App', ['facebook']);
    App.config(function (FacebookProvider) {
        FacebookProvider.init('1634145173479612'); //Here mention Developer facebook APPID  
    })
    //Controller  
    App.controller('LoginController', function ($scope, Facebook, LoginService, $window, $location) {
        alert("1");
        $scope.loginStatus = 'disconnected';
        $scope.facebookIsReady = false;
        $scope.user = null;
        $scope.login = function () {
           
            Facebook.login(function (response) {
                $scope.loginStatus = response.status;
                testAPI();
            });
        };
        $scope.removeAuth = function () {
            Facebook.api({
                method: 'Auth.revokeAuthorization'
            }, function (response) {
                Facebook.logout(function (response) {
                    console.log(JSON.stringify(response));
                });
            });
        };
        $scope.api = function () {
            Facebook.api('/me', function (response) {
                $scope.user = response;
            });
        };
        $scope.$watch(function () {
            return Facebook.isReady();
        }, function (newVal) {
            if (newVal) {
                $scope.facebookIsReady = true;
            }
        });

        function testAPI() {
            console.log('Welcome Fetching your information.... ');
            FB.api('/me?fields=id,name,email,first_name,last_name,age_range,picture.type(large)', function (response) {
                console.log(response);
                $scope.first_name = response.first_name;
                $scope.last_name = response.last_name;
                $scope.gender = response.gender;
                $scope.email = response.email;
                $scope.name = response.name;
                $scope.id = response.id;
            });
        }  
    });
   
</script>