﻿
@{
    ViewBag.Title = "TestingView";
    Layout = "~/Views/Shared/StudentMgmSystemLayout.cshtml";
}
<link href="~/Custom_stylesheet/SlidingImage.css" rel="stylesheet" />
<div ng-app="test" ng-controller="slideShowController" class="imageslide" ng-switch='slideshow' ng-animate="'animate'">
    <div style="margin-top:-22px;">       
        <div class="container" ng-switch-when="1">
            <img src="~/Images/sliding/first.jpg" width="100%" height="400px"><input type="button" class="btnreg" value="Register" ng-click="NewRegistration()"/><input type="button" class="btn" value="Login" />
        </div>
        <div class="container" ng-switch-when="2">
            <img src="~/Images/sliding/second.jpg" width="100%" height="400px"><input type="button" class="btnreg" value="Register" ng-click="NewRegistration()"/><input type="button" class="btn" value="Login" />
        </div>
        <div class="container" ng-switch-when="3">
            <img src="~/Images/sliding/third.jpg" width="100%" height="400px"><input type="button" class="btnreg" value="Register" ng-click="NewRegistration()" /><input type="button" class="btn" value="Login" />
        </div>
        <div class="container" ng-switch-when="4">
            <img src="~/Images/sliding/four.jpg" width="100%" height="400px"><input type="button" class="btnreg" value="Register" ng-click="NewRegistration()"/><input type="button" class="btn" value="Login" />
        </div>
        <div class="container" ng-switch-when="5">
            <img src="~/Images/sliding/five.jpg" width="100%" height="400px"><input type="button" class="btnreg" value="Register" ng-click="NewRegistration()" /><input type="button" class="btn" value="Login" />
        </div>
        <div class="container" ng-switch-when="6">
            <img src="~/Images/sliding/six.jpg" width="100%" height="400px"><input type="button" class="btnreg" value="Register" ng-click="NewRegistration()"/><input type="button" class="btn" value="Login" />
        </div>
    </div>
</div>
<script>
    var testapp = angular.module("test", []);
    testapp.controller("slideShowController", function ($scope, $timeout) {
        var slidesInSlideshow = 6;
        var slidesTimeIntervalInMs = 5000;
        
        $scope.slideshow = 1;
        var slideTimer =
            $timeout(function interval() {
                $scope.slideshow = ($scope.slideshow % slidesInSlideshow) + 1;
                slideTimer = $timeout(interval, slidesTimeIntervalInMs);
            }, slidesTimeIntervalInMs);

        $scope.NewRegistration = function () { alert("New Registration"); };
    });
 
</script>