﻿
@{
    ViewBag.Title = "UserSignUp";
    Layout = "~/Views/Shared/UserMasterLayout.cshtml";
}
<link href="~/Custom_stylesheet/UserSignUp.css" rel="stylesheet" />
<div ng-app="signupapp" ng-controller="signupctrl" class="UserSignUpContainer">
   
        <div class="SignUpItems">
            <h3 style="color:green">{{lblHeading}}</h3>
            <table>
                <tr>
                    <td><label>{{lblUserName}}</label></td>
                    <td>
                        <input type="text" ng-model="signup.UserName" /><span ng-show="erUserName" style="color:red;">*</span>
                    </td>

                </tr>
                <tr>
                    <td><label>{{lblMobileNumber}}</label></td>
                    <td>
                        <input type="text" ng-model="signup.UserMobileNumber" /><span ng-show="ermobileNumber" style="color:red;">*</span>
                    </td>
                </tr>
                <tr>
                    <td><label>{{lblEmailID}}</label></td>
                    <td>
                        <input type="text" ng-model="signup.UserEmailID" /><span ng-show="erEmailID" style="color:red;">*</span>
                    </td>
                </tr>
                <tr>
                    <td><label>{{lblPassword}}</label></td>
                    <td>
                        <input type="text" ng-model="signup.UserPassword" /><span ng-show="erPassword" style="color:red;">*</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" ng-show="test" ng-model="signup.UserToken" />
                    </td>
                    <td>
                        <input type="text" ng-show="test1" ng-model="signup.UserRegDate" />
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        <input type="button" class="SignUpBackBtn" value="{{btnBack}}" ng-click="GoBack()" />
                    </td>
                    <td>
                        <input type="button" class="SignUpBtn" value="{{btnSignUp}}" ng-click="methodSignUp(signup)" />
                    </td>
                </tr>
            </table>
        </div>
  
</div>
<script>
    var signupapp = angular.module("signupapp", []);
    signupapp.controller("signupctrl", function ($scope, $http) {
        $scope.lblHeading = "New User Registration";
        $scope.erUserName = false;
        $scope.ermobileNumber = false;
        $scope.erEmailID = false;
        $scope.erPassword = false;
        $scope.lblUserName = "Name :";
        $scope.lblMobileNumber = "Mobile Number :";
        $scope.lblEmailID = "Email ID :";
        $scope.lblPassword = "Password";
        $scope.btnBack = "Back";
        $scope.btnSignUp = "Register";
        $scope.GoBack = function () { window.location.href = "/Home/HomePage"; };
        $scope.methodSignUp = function (objData) {
            var status = false;
            if (objData == undefined) {
                $scope.erUserName = true;
                $scope.ermobileNumber = true;
                $scope.erEmailID = true;
                $scope.erPassword = true;
            }
            else {
                $scope.erUserName = false;
                $scope.ermobileNumber = false;
                $scope.erEmailID = false;
                $scope.erPassword = false;
                status = true;
            }
            if (objData.UserName == "" || objData.UserName == undefined) {
                $scope.erUserName = true;
                status = false;
            }
            else {
                $scope.erUserName = false;
                status = true;
            }
            if (objData.UserMobileNumber == "" || objData.UserMobileNumber == undefined) {
                $scope.ermobileNumber = true;
                status = false;
            }
            else {
                $scope.ermobileNumber = false;
                status = true;
            }
            if (objData.UserEmailID == "" || objData.UserEmailID == undefined) {
                $scope.erEmailID = true;
                status = false;
            }
            else {
                $scope.erEmailID = false;
                status = true;
            }
            if (objData.UserPassword == "" || objData.UserPassword == undefined) {
                $scope.erPassword = true;
                status = false;
            }
            else {
                $scope.erPassword = false;
                status = true;
            }
            if (status) {
               
                $http({
                    method: "POST",
                    url: "/Home/UserRegistration",
                    data: objData
                }).then(function (res) {
                    if (res.data == 0) {
                        alert("You are already Registered.Please Login..");
                    }
                    else {
                        window.location.href = "/Home/HomePage";
                    }
                });
            }
            else {
                $scope.ErAll = "Enter Data in all Fields.";
            }

        };
    });
</script>