﻿
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/UserMasterLayout.cshtml";
}
<link href="~/Custom_stylesheet/UserLogin.css" rel="stylesheet" />
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="173199267101-u61d0h0vf003jhv98faqsocm66prh4sp.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
<script src="https://connect.facebook.net/en_US/sdk.js"></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<div ng-app="testapp" ng-controller="testctrl" class="LoginContainer">
    <div class="LoginItems">
        <div>
            <label style="color:green">{{lblToken}}</label>
        </div>
        <table class="table">
            <tr>
                <td>
                    <img src="~/Images/AdminPanel/imglogin.png" />
                </td>
                <td>
                    <table>
                        <tr>
                            <td></td>
                            <td>
                                <label style="color:white;font-size:25px;margin-left:5px;">{{lblHeading}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{lblUserName}}</label>
                            </td>
                            <td>
                                <input type="text" ng-model="login.userName" /><span ng-show="erUserName" style="color:red;">*</span>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>
                                <label>{{lblPassword}}</label>
                            </td>
                            <td>
                                <input type="text" ng-model="login.Password" /><span ng-show="erPassword" style="color:red;">*</span>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>
                                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                                <a href="#" onclick="signOut();">Sign out</a>
                            </td>
                            <td>
                                <input type="button" class="loginBtn" value="{{btngetdata}}" ng-click="getData(login)" style="margin-left:125px;" /><br />
                            </td>
                            <td>
                                <div id="fb-root"></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>


</div>
<script>

    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                alert(this.responseText);
            }
            xhttp.open("POST", "~/Home/testLiginData", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("id=" + profile.getId() + "&name=" + profile.getName());
        }
    }
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
    var testapp = angular.module("testapp", []);
    testapp.controller("testctrl", function ($scope, $http, $window) {
        $scope.btngetdata = "Submit";
        $scope.lblUserName = "User Name";
        $scope.lblPassword = "Password";
        $scope.lblHeading = "Login";
        $scope.erAvailable = false;
        $scope.erUserName = false;
        $scope.erPassword = false;
        $scope.getData = function (objData) {
            if (objData == undefined) {
                $scope.erUserName = true;
                $scope.erPassword = true;
            }
            else {

                if (objData.userName == "" || objData.userName == undefined) {
                    $scope.erUserName = true;
                }
                else {
                    $scope.erUserName = false;
                }
                if (objData.Password == "" || objData.Password == undefined) {
                    $scope.erPassword = true;
                }
                else {
                    $scope.erUserName = false;
                    $scope.erPassword = false;
                    $http({
                        method: 'POSt',
                        url: "/Home/GetUserToken",
                        data: objData
                    }).then(function (responce) {
                        alert(responce.data);
                        if (responce.data == "1") {
                            alert("Enter valid User Name or Password");
                        }
                        else if (responce.data == "") {
                            alert("Enter valid User Name or Password");
                        }
                        else {
                            $scope.lblResponceError = "";
                            // $scope.lblToken = responce.data;
                            window.location.href = "/Home/StudentMgmSystem";
                        }

                    });
                }

            }
        };

        $scope.onSignIns = function (googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            alert("1");
        }

        $window.fbAsyncInit = function () {
            FB.init({
                appId: '{your-app-id}',
                status: true,
                cookie: true,
                xfbml: true,
                version: 'v2.4'
            });
        };
        $scope.getMyLastName = function () {
            facebookService.getMyLastName()
                .then(function (response) {
                    $scope.last_name = response.last_name;
                }
                );
        };
    });

    testapp.factory('facebookService', function ($q) {
        return {
            getMyLastName: function () {
                var deferred = $q.defer();
                FB.api('/me', {
                    fields: 'last_name'
                }, function (response) {
                    if (!response || response.error) {
                        deferred.reject('Error occured');
                    } else {
                        deferred.resolve(response);
                    }
                });
                return deferred.promise;
            }
        }
    });
</script>


